html {
  overflow-y: scroll;
}
:root {
  --bg-color-cards: #e6cfd6;
  --bg-color-code: lightgray;
  --bg-color-footer: lightcyan;
  --bg-color-header-title: lightsalmon;
  --bg-color-pagination: hotpink;
  --bg-color-pills: #ecbe13;
  --bg-color-pre: #000;
  --bg-color-top-h1: lightskyblue;
  --bg-color: darkkhaki;
  --font-color: #444;
  --font-family-content: "Outfit";
  --font-family-title: "Bebas Neue";
  --link-color: #00e;
  --link-visited-color: #551a8b;
  --txt-color-pre: #fff;
  /* --title-font: "Archivo Black"; */
}
body {
  color: var(--font-color);
  font-family: var(--font-family-content, sans-serif);
  font-optical-sizing: auto;
  font-style: normal;

  /* fallback */
  background-color: darkkhaki;

  /* from https://css-pattern.com/ */
  --s: 34px; /* control the size (the circle diameter) */
  --c1: var(--bg-color-pills);
  --c2: var(--bg-color);
  --_g: radial-gradient(calc(var(--s) / 2), var(--c1) 97%, #0000);
  background:
    var(--_g),
    var(--_g) calc(2 * var(--s)) calc(2 * var(--s)),
    repeating-conic-gradient(from 45deg, #0000 0 25%, var(--c2) 0 50%)
      calc(-0.707 * var(--s)) calc(-0.707 * var(--s)),
    repeating-linear-gradient(
      135deg,
      var(--c1) calc(var(--s) / -2) calc(var(--s) / 2),
      var(--c2) 0 calc(2.328 * var(--s))
    );
  background-size: calc(4 * var(--s)) calc(4 * var(--s));
}
main {
  max-width: 800px;
  margin: 40px auto;
}
a:link {
  color: var(--link-visited-color);
  text-decoration: none;
}
a:visited {
  color: var(--link-visited-color);
  text-decoration: none;
}
a:active {
  color: var(--link-visited-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main > div > h1 {
  background-color: var(--bg-color-top-h1);
  padding: 16px 16px 16px;
  margin: 16px 0px 24px;
  width: fit-content;
}
h1,
h2,
h3 {
  line-height: 1.2;
  font-family: var(--font-family-title, serif);
  font-weight: 400;
  font-style: normal;
}
header {
  font-family: var(--font-family-content, serif);
  font-weight: 400;
  font-style: normal;
  padding: 8px 0px 8px 0px;
}
header > nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
#nav-items {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
  padding: 0 0 0 0;
  text-decoration: underline;
}
@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
#nav-items > li:hover {
  animation: vertical-shaking 0.2s ease-in-out;
}
#title {
  font-family: var(--font-family-title);
  font-size: 6rem;
  padding: 16px 0 0 0;
}
#title-wrapper {
  background-color: var(--bg-color-header-title);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0 32px 0 32px;
}
code:not(.highlight code) {
  font-size: 1rem;
  padding: 3px;
  background-color: var(--bg-color-code);
}
.highlight {
  font-size: 1rem !important;
}
p > a {
  font-weight: 600;
}
pre {
  padding: 16px;
  overflow-x: auto;
}
article {
  font-size: 1.2rem;
  padding: 16px 16px 24px;
  margin: 16px 0px 24px 0px;
  background-color: var(--bg-color-cards);
}
.card-title {
  margin-bottom: 0px;
}
.card-subtitle {
  margin-bottom: 16px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
footer {
  display: flex;
  justify-content: center;
}
footer > p {
  display: inline-flex;
  padding: 8px 8px 8px 8px;
  background-color: var(--bg-color-footer);
}
#pagination > div {
  display: inline-flex;
  padding: 8px 16px 8px 16px;
  background-color: var(--bg-color-pagination);
}

/* common drop-shadow */
#pagination > div,
footer > p,
main > div > h1,
#title-wrapper,
article {
  box-shadow: 4px 4px 0 black;
  border: 2px solid black;
  border-radius: 5px;
}
img {
  border: 4px solid black;
  border-radius: 5px;
  max-width: calc(100% - 16px); /* subtract the added border */
  height: auto;
}
.article-title {
  margin-bottom: 2px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
/* Zebra striping */
tr:nth-of-type(even) {
  background: #eed;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
  text-align: center;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
}
table td:nth-child(1) {
  text-align: center;
}
