html {
  overflow-y: scroll;
}
:root {
  --bg-color: #e6cfd6;
  --font-color: #444;
  --link-color: #00e;
  --link-visited-color: #551a8b;
  --pre-txt-color: #fff;
  --pre-bg-color: #000;
  --copy-font: "Outfit";
  /* --title-font: "Archivo Black"; */
  --title-font: "Bebas Neue";
}
body {
  color: var(--font-color);
  font-family: var(--copy-font, sans-serif);
  font-optical-sizing: auto;
  font-style: normal;

  /* fallback */
  background-color: darkkhaki;

  /* from https://css-pattern.com/ */
  --s: 34px; /* control the size (the circle diameter) */
  /* --c1: #ecbe13; */
  /* --c2: #309292; */
  --c1: #ecbe13;
  /* --c1: #309292; */
  --c2: darkkhaki;
  --_g: radial-gradient(calc(var(--s) / 2), var(--c1) 97%, #0000);
  background:
    var(--_g),
    var(--_g) calc(2 * var(--s)) calc(2 * var(--s)),
    repeating-conic-gradient(from 45deg, #0000 0 25%, var(--c2) 0 50%)
      calc(-0.707 * var(--s)) calc(-0.707 * var(--s)),
    repeating-linear-gradient(
      135deg,
      var(--c1) calc(var(--s) / -2) calc(var(--s) / 2),
      var(--c2) 0 calc(2.328 * var(--s))
    );
  background-size: calc(4 * var(--s)) calc(4 * var(--s));
  /* 
    0.707 = sqrt(2)/2
    2.328 = 2*sqrt(2) - .5
  */
}
main {
  max-width: 800px;
  margin: 40px auto;
  /* padding: 0 10px; */
}
a:link {
  color: var(--link-visited-color);
  text-decoration: none;
}
a:visited {
  color: var(--link-visited-color);
  text-decoration: none;
}
a:active {
  color: var(--link-visited-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main > div > h1 {
  background-color: lightskyblue;
  padding: 16px 16px 16px;
  margin: 16px 0px 24px;
  width: fit-content;
}
h1 {
  font-size: 2em;
}
h1,
h2,
h3 {
  line-height: 1.2;
  font-family: var(--title-font, serif);
  font-weight: 400;
  font-style: normal;
}
header {
  background-color: lightsalmon;
  font-family: var(--copy-font, serif);
  font-weight: 400;
  font-style: normal;
  padding: 8px 0px 8px 0px;
}
header > nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
header > nav > div {
  font-family: var(--title-font);
  font-size: 3.5em;
  padding: 16px 0 0 0;
}
header > nav > ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
  padding: 0 0 0 0;
}
p > code {
  /* color: var(--pre-txt-color); */
  /* background: var(--pre-bg-color); */
  padding: 2px;
}
p > a {
  font-weight: 600;
}
pre {
  /* color: var(--pre-txt-color); */
  background: var(--pre-bg-color);
  padding: 24px;
  overflow-x: auto;
}
article {
  font-size: 1.2em;
  padding: 16px 16px 24px;
  margin: 16px 0px 24px 0px;
  background-color: var(--bg-color);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
footer {
  display: flex;
  justify-content: center;
}
footer > p {
  display: inline-flex;
  padding: 8px 8px 8px 8px;
  background-color: var(--bg-color);
}
#pagination > div {
  display: inline-flex;
  padding: 8px 8px 8px 8px;
  background-color: var(--bg-color);
}
/* common drop-shadow */
#pagination > div,
footer > p,
main > div > h1,
header,
article {
  box-shadow: 4px 4px 0 black;
  border: 2px solid black;
  border-radius: 5px;
}

