<article>
  <h2 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <div class="card-subtitle">
    <time datetime="{{ .Date.Format `2006-01-02T15:04:05` }}">{{ .Date.Format "02.01.2006 15:04" }}&nbsp;</time>
    {{ range .Params.tags }}
      <a class="card-tag" href="{{ `/tags/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  <div>
    {{ .Summary }}
    {{ if .Truncated }}
      <a href="{{ .Permalink }}">Read more...</a>
    {{ end }}
  </div>
</article>
